*.wav
*.png
*.jpg
*.vtf
*.vmt
*.vvd
*.vtx
*.phy
*.vmd
*.json
*.md
*.bsp
*.mp3
*.mdl
*.asd
fast_frag/
ttt_desert_eagle_v2/
ttt_first_aid_kit/
ttt_golden_ak-47/
shodan_ttt
robo_ttt/
map_images/
throw_weapon
robo_T/